<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="academy" translate="label" sortOrder="1">
            <label>Academy</label>
        </tab>

        <section id="product" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>academy</tab>
            <label>Product</label>
            <resource>Academy_EmailModule::emailModule_config</resource>

            <group id="email" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Email</label>

                <field id="emailOnCreation" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" type="select">
                    <label>Send email after product creation</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

                <field id="emailList" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1" type="text">
                    <label>Email addresses</label>
                    <tooltip>Email addresses to which Magento should send an email after product creation.</tooltip>
                </field>

            </group>

        </section>
    </system>
</config>
